@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 2em;
  /* max-width: 1100px; */
}
a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  outline: none;
}
span {
  text-decoration: underline solid orange 5px;
}
/* ------ Global values ----- */
:root {
  --main-color: dodgerblue;
}
.blue {
  color: var(--main-color);
}
.grey {
  color: grey;
}

/* ------------ /  # Navbar  / -------------- */

nav {
  height: 12vh;
  background-color: #fff;
  font-family: "Lexend Deca", sans-serif;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .menu input {
  display: none;
}
nav .menu label {
  display: none;
}
nav .menu label i {
  font-size: 1.5rem;
}
nav .menu ul {
  display: flex;
  align-items: center;
}
nav .menu ul li {
  list-style: none;
  margin-left: 1.5em;
  font-size: 1rem;
  font-weight: 500;
}
nav .menu ul li a:hover {
  padding: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 100ms;
}
nav .menu ul li button {
  background-color: var(--main-color);
  color: #fff;
  height: 7vh;
  padding: 10px;

  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
nav .menu ul li button:hover {
  background-color: green;
}

/* ----/ responsive navbar /---- */

@media (max-width: 900px) {
  nav .menu label {
    display: block;
  }
  nav .menu ul {
    position: fixed;
    top: 12vh;
    left: -100%;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 400ms;
  }
  nav .menu ul li {
    margin: 30px 0;
  }
  nav .menu ul li a {
    font-size: 1.2rem;
  }
  nav .menu ul li a:hover {
    padding: unset;
    background-color: unset;
    color: cyan;
    border: unset;
    outline: unset;
    border-radius: unset;
    font-weight: unset;
  }
  #checking:checked ~ ul {
    left: 0;
  }
  #checking:checked ~ label i::before {
    content: "\f00d";
  }
}
/* ------------ /  # Search Box  / -------------- */
.search-field {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}
.search-field .ellipse-1 {
  align-self: center;
}
/* .search-field .ellipse {
   flex: 1; 
} */
.search-box {
  width: 300px;
  padding-left: 10px;
  align-self: center;
  height: 8vh;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 600;
  padding-left: 1em;
}
.search-box input::placeholder {
  color: var(--main-color);
}
/* ----/ responsive Search Box /---- */

@media (max-width: 900px) {
  .search-field .ellipse {
    display: none;
  }
  .search-field .search-box {
    width: 100%;
  }
}
/* ------------ /  # Home Section  / -------------- */
.intro-content .ellipse {
  text-align: center;
}
.intro-content .ellipse-3 {
  grid-area: ellipse-3;
}
.intro-content .ellipse-4 {
  grid-area: ellipse-4;
}
.intro-content .intro-title {
  grid-area: intro-title;
}
.intro-content .intro-title a {
  font-weight: 700;
  font-size: 1.5rem;
}
.intro-content .intro-title h1 {
  font-weight: 700;
  font-size: 2.3rem;
}
.intro-content .intro-img {
  grid-area: intro-img;
}
.intro-content .intro-img img {
  width: 100%;
  height: 80%;
}
.intro-content .sub-title {
  grid-area: sub-title;
}
.intro-content .sub-title a {
  font-weight: 400;
  font-size: 1.2rem;
}
.intro-content .sub-title h1 {
  margin-top: 1em;
}
.intro-content .more-info .btn-box {
  grid-area: btn-box;
  width: 100%;
  height: 10vh;
  margin: 2em 0;
  border: 2px solid var(--main-color);
}
.intro-content .more-info .btn-box .btn {
  height: 100%;
  width: 48%;
  font-size: 1em;
}
.intro-content .more-info .btn-box .btn-1 {
  background-color: var(--main-color);
  color: white;
}
.intro-content .more-info .btn-box .btn-2 {
  background-color: white;
  color: var(--main-color);
}
.intro-content .video-link {
  grid-area: video-link;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-content .video-link .video-icon .circle {
  border: 2px solid blue;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  padding-top: 4px;
  width: 40px;
  height: 40px;
}
/* ----/ Responsive Home Section /---- */
@media (min-width: 901px) {
  .intro-content {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 4fr 4fr 2fr 10vh;
    grid-template-areas:
      "ellipse-4 ellipse-3"
      "intro-title intro-img"
      "sub-title intro-img"
      "btn-box intro-img"
      "video-link video-link";
  }
  .intro-content .video-link {
    flex-direction: row;
    justify-content: center;
  }
}
/* ------------ /  # Service Section  / -------------- */

.main-title {
  margin: 60px 0;
  text-align: center;
}
.service-content .main-title .s-description p {
  padding: 10px;
  width: 80vw;
  margin: auto;
}
.service-content .company .company-box {
  text-align: center;
  margin: 40px 0;
}
.service-content .company .company-box .company-icon img {
  height: 40px;
}
.service-content .company .company-box .company-title {
  padding: 15px 0;
}
.service-content .company .company-box .company-description p {
  width: 80%;
  margin: auto;
}
.service-content .company .company-box .company-link a {
  line-height: 50px;
  font-size: 21px;
  color: orange;
}
/* grid setup for mobile view (some issues) */
/* .service-content .services{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 4fr 4fr 4fr 1fr;
  grid-template-areas: "guide"
                       "service-1"
                       "service-2"
                       "service-3"
                       "service-4"
                       "more-s";
} */
.service-content .services .guide {
  grid-area: guide;
  text-align: center;
}
.service-content .services .guide p {
  font-size: 1.3em;
  padding: 5px 0;
}
.service-content .services .s-box {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2em;
  margin: 2em 0;
}
.service-content .services .s-box .service-description {
  padding: 1em 0;
  width: 89%;
}
.service-content .services .service-link {
  padding: 1em 0;
  display: flex;
  align-items: center;
}
.service-content .services .service-link img {
  padding: 5px;
}
.service-content .services .service-2 .ellipse-5 {
  display: none;
  width: 150px;
  text-align: end;
  height: 150px;
  background: url(../img/Ellipse\ 7.png) no-repeat;
}
.service-content .services .service-1 {
  grid-area: service-1;
}
.service-content .services .service-2 {
  grid-area: service-2;
}
.service-content .services .service-3 {
  grid-area: service-3;
}
.service-content .services .service-4 {
  grid-area: service-4;
}

.service-content .services .more-s {
  grid-area: more-s;
  font-size: 20px;
  width: 90%;
  margin: auto;
}
.service-content .services .service-box .service-link {
  /* justify-content: center; */
  padding: 0.5em 0;
}
.ellipse-6,
.ellipse-7 {
  display: none;
}

/* -----/ Responsive Service Section */
@media (min-width: 901px) {
  .service-content .company {
    display: flex;
    justify-content: space-between;
  }
  .service-content .company .company-box {
    width: 30%;
    text-align: start;
  }
  .service-content .company .company-box .company-description p {
    margin: unset;
  }

  .service-content .services .ellipse-6 {
    grid-area: ellipse-6;
    text-align: center;
    display: block;
  }
  .service-content .services .ellipse-7 {
    grid-area: ellipse-7;
    display: block;
    text-align: end;
  }
  .service-content .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 2fr 100px 100px 2fr 150px;
    column-gap: 20px;
    grid-template-areas:
      "guide service-1"
      "service-2 service-1"
      "service-2 ellipse-7"
      "ellipse-6 service-3"
      "service-4 service-3"
      "service-4 more-s ";
  }
}
/* ------------ /  # Pricing Section  / -------------- */
.pricing-content {
  margin: 3rem 0;
}
.pricing-content .main-title h1 {
  /* background-color: red; */
  text-align: center;
  line-break: 120px;
  margin: auto;
}
.pricing-content .price-card {
  margin: 4rem 1rem;
  display: flex;
  justify-content: space-between;
}
.pricing-content .price-card .card {
  color: var(--main-color);
  padding: 3em;
}
.pricing-content .price-card .card-2 {
  background-color: var(--main-color);
  color: #fff;
}
.pricing-content .price-card .card .card-rate {
  display: flex;
  align-items: flex-end;
}
.pricing-content .price-card .card .card-rate p {
  padding-left: 5px;
}
.pricing-content .price-card .card .card-subtitle {
  padding: 10px 0;
  font-size: 1.3em;
}
.pricing-content .price-card .card .card-key {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.pricing-content .price-card .card .card-key p {
  margin-left: 5px;
}
.pricing-content .price-card .card .card-btn button {
  width: 70%;
  height: 50px;
  background: white;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-size: 1.1rem;
}
/* -----/ Responsive Pricing Section /----- */
@media (max-width: 900px) {
  /* .pricing-content .price-card .card-2{
    flex: 2;
  }
  .pricing-content .price-card .card{
    width: 100%;
    height: 700px;

  } */
  .pricing-content .price-card {
    /* overflow-x: scroll; */
    display: block;
  }
}
/* ------------ /  # About Section  / -------------- */
.about-content .vertical-line {
  border-left: 7px solid var(--main-color);
  height: 100%;
  padding-left: 5px;
}

.about-content .box-a {
  margin: 2em;
}
.about-content .box-a .card-a {
  margin: 1em 0;
  display: flex;
  align-items: center;
}
.about-content .box-a .card-a .a-img {
  border: 2px solid var(--main-color);
  padding: 1em;
}
.about-content .box-a .card-a .a-details {
  padding-left: 20px;
}
.about-content .review-box .review-card .review-img {
  border-radius: 50%;
}
.about-content .contacts .contact-box {
  display: flex;
}
.about-content .contacts .contact-box .contact-card {
  margin: 1em;
}
.about-content .contacts .contact-box .contact-card .contact-info a {
  display: block;
  color: grey;
}
#sub-card .contact-info {
  margin: 1em 0;
  height: 6vh;
  display: flex;
}
#sub-card .contact-info input {
  padding: 0 1em;
}
.about-content .contacts .social-media {
  display: flex;
  align-items: center;
}
.about-content .contacts .social-media .media-link {
  padding-left: 1em;
}
/* -----/ Responsive Contact /----- */
@media (min-width: 901px) {
  .about-content .contacts .contact-box {
    display: block;
  }
  .about-content {
    display: flex;
    justify-content: space-between;
  }
  .about-content .about-left {
    margin: 0 5em;
  }
}
/* ------------ /  # Footer Section  / -------------- */
footer .copy-right {
  margin: 20px 0;
  text-align: center;
}
